<div class="g-hidden">
    <div class="box-modal" id="exampleModal1">
        <div class="box-modal_close arcticmodal-close">закрыть</div>
        <div>
            Вебинар удалён.
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/AppScripts/WebinarViewModel.js");
}