@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>WEBINARS</h3>

    <button class="admin-mode-button">Admin</button>
    <div class="admin-mode" id="create-zone" data-bind="with: $root.cWebinar">
        <input type="text" data-bind="value: Name" />
        <input type="text" data-bind="value: VideoUrl" />
        <button data-bind="click: $parent.createNewWebinar">Create</button>
    </div>

    <div class="admin-mode" id="edit-zone" data-bind="with: $root.eWebinar">
        <input type="text" data-bind="value: Name" />
        <input type="text" data-bind="value: VideoUrl" />
        <button data-bind="click: $root.editWebinar">Edit</button>
        <button id="cancel-edit">Cancel</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>url</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: webinars">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: VideoUrl"></td>
                    <td class="admin-mode"><button data-bind="click: $root.getWebinar">Edit</button></td>
                    <td class="admin-mode"><button data-bind="click: $root.deleteWebinar">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
@section Scripts{
    @Scripts.Render("~/Scripts/AppScripts/WebinarViewModel.js");	
}