@red: #ec1c36;
@dark-gray: #4c4c4e;
@light-gray: #F0F0F0;
@middle-gray: #cacaca;
@tab-panel-height: 139px;
@tab-height: 135px;
@tab-width: 120px;
@middle-plus-gray: #A3A3A3;
@white: #fff;
@video-height:315px;
@video-width:560px;

 @font-face {
        font-family:ProximaNova;
        src:url('fonts/Proxima Nova Regular.otf');
    }
.content{
    overflow:hidden;
    padding-top:20px;//поменять потом
.tab-panel{
    font-size:14px;
    color:black;
    font-family: ProximaNova,Arial;
    height:@tab-panel-height;

    .tab-item {
        height: @tab-height;
        width: @tab-width;
        background:@light-gray;
        display:inline-block;
        text-align:center;
            .tab-img{
                 padding-top: 12px;
                 height: 60px;
            }
            .tab-text
            {
                margin:10px;
            }
    }
    .active-tab
    {
        background:@middle-gray;
    }

     .tab-item:hover{
            background:@middle-gray;
                    }   
        }
.content-body
{
    .left-col{
        position:relative;
        padding-left:40px;
    }
    .right-col{
        position:relative;
        top:-@video-height - 5px;
        left: @video-width;
    }
}
       }

.video-list{
    width: 530px;
    height: @video-height;
    overflow-y: scroll;
}

.video-list-item{
    list-style: none;
}

.list-item(@border-colour: transparent){
    margin: 8px;    
    border: 3px solid @border-colour;
    width: 123px;
}

.list-item-thumb{
    .list-item();
        &-chosen{
        .list-item(@red);
    }
}

.video-list-content(@background-colour: @light-gray){
    background-color: @background-colour;
    border-bottom: 1px solid @middle-gray;    
}

.video-li-content{
    .video-list-content();
    &:hover{
        background-color: @middle-plus-gray;
        .list-item-thumb{
            background-color: @middle-plus-gray;
        }
        span{
            color: @white;
        }
    }
    &-chosen{
        .video-list-content(@middle-gray);
        span{
            color: @white;
        }
    }
}
