@font-face {
  font-family: ProximaNova;
  src: url('fonts/Proxima Nova Regular.otf');
}
.content {
  padding-top: 20px;
}
.content .tab-panel {
  font-size: 14px;
  color: black;
  font-family: ProximaNova,Arial;
  height: 139px;
}
.content .tab-panel .tab-item {
  height: 135px;
  width: 120px;
  background: #F0F0F0;
  display: inline-block;
  text-align: center;
}
.content .tab-panel .tab-item .tab-img {
  padding-top: 12px;
  height: 60px;
}
.content .tab-panel .tab-item .tab-text {
  margin: 10px;
}
.content .tab-panel .tab-item:hover {
  background: #cacaca;
}
.content .content-body .left-col {
  position: relative;
  padding-left: 40px;
}
.content .content-body .right-col {
  position: relative;
  top: -315px;
  left: 540px;
}
.video-list {
  width: 530px;
  height: 350px;
  overflow-y: scroll;
}
.video-list-item {
  list-style: none;
}
.list-item-thumb {
  margin: 8px;
  background-color: #fff;
  border: 3px solid #fff;
  vertical-align: top;
  width: 122px;
}
.video-li-content {
  background-color: #F0F0F0;
  border-bottom: 1px solid #A3A3A3;
}
.video-li-content:hover {
  background-color: #A3A3A3;
}
.video-li-content:hover .list-item-thumb {
  background-color: #A3A3A3;
}
.video-li-content:hover span {
  color: #fff;
}
.chosen-video {
  border: 1px solid #ec1c36;
}