@red: #ec1c36;
@dark-gray: #4c4c4e;
@light-gray: #F0F0F0;
@middle-gray: #cacaca;
@tab-panel-height: 139px;
@tab-height: 135px;
@tab-width: 120px;
 @font-face {
        font-family:ProximaNova;
        src:url('fonts/Proxima Nova Regular.otf');
    }
.content{
    padding-top:20px;//поменять потом
.tab-panel{
    font-size:14px;
    color:black;
    font-family: ProximaNova,Arial;
    height:@tab-panel-height;

    .tab-item {
        height: @tab-height;
        width: @tab-width;
        background:@light-gray;
        display:inline-block;
        text-align:center;
            .tab-img{
                 padding-top: 12px;
                 height: 60px;
            }
            .tab-text
            {
                margin:10px;
            }
    }
     .tab-item:hover{
            background:@middle-gray;
                    }   
        }
.content-body
{
    .left-col{
        position:relative;
        padding-left:40px;
    }
    .right-col{
        position:relative;
        top:-315px;
        left: 540px;
    }
}
       }