
@{
    ViewBag.Title = "Index";
}
@using Webinars.DAL.Model
@model IEnumerable<Law>

<h2>Index</h2>
<div>
    <input  type="text" data-bind="value: singlelaw.Name"/>
    <input type="text" data-bind="value: singlelaw.Description"/>
    <button data-bind="click: addLaw">Add Law</button>
</div>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
<tbody data-bind="foreach: laws">
    <tr>
        <td data-bind="text: Id"></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Description"></td>
    </tr>

</tbody>
</table>
@section scripts{
    @Scripts.Render("~/Scripts/LawViewModel.js")
}