@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="content-header">
        <div class="tab-panel">
            <ul data-bind="template: { name: 'law-tab-template', foreach: lawsArray }"></ul>
        </div>
    </div>
    <div class="content-body">
        <div class="left-col">
            <div class="video-player" data-bind="template: { name: 'single-video-template', data: webinar }"></div>
        </div>
        <div class="right-col">
            <ul class="video-list" data-bind="template: {name: 'list-item-video-template', foreach: webinars}"></ul>
        </div>
    </div>
</div>

<script type="text/html" id="law-tab-template">
    <li class="tab-item" data-bind="click: $parent.getAllWebinars">
        <div class="tab-content">
            <div class="tab-img">
                <img src="../../Content/Images/icon-t36.png" />
            </div>
            <div class="tab-text">
                <p>
                    Вебинары по
                    <span class="tab-text" data-bind="text: Name"></span>
                </p>
            </div>
        </div>
    </li>
</script>

<script type="text/html" id="single-video-template">
    <iframe width="560" height="315"
            data-bind="attr: {src : VideoUrl}"
            frameborder="0" allowfullscreen></iframe>
</script>

<script type="text/html" id="list-item-video-template">
    <li class="video-list-item" data-bind="click: $parent.playWebinar">
        <div class="video-li-content">
            <img class="list-item-thumb-chosen" data-bind="attr: {src: VideoImageUrl}" />
            <span data-bind="text: Name"></span>
        </div>
    </li>
</script>

@section Scripts{
    @Scripts.Render("~/Scripts/AppScripts/LawWebinarsViewModel.js");
}


