@{
    ViewBag.Title = "Home Page";
}

<script type="text/html" id="law-tab-template">
        <img src="../../Content/Images/icon-t36.png" />
        <p>Вебинары по <span data-bind="text: Name"></span></p>
</script>

<div data-bind="template: { name: 'law-tab-template', foreach: lawsArray }"></div>

@section scripts
    {
  @Scripts.Render("~/Scripts/AppScripts/LawWebinarsViewModel.js")
    }